<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="javascripts/vendor/angular.min.js"></script>
        <script src="javascripts/vendor/angular-route.min.js"></script>
        <script src="javascripts/vendor/angular-resource.min.js"></script>
        <script src="javascripts/vendor/ui-bootstrap-tpls-0.13.0.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="javascripts/checklistapp.js"></script>
        <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
        <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/style.css">
        <link rel="stylesheet" href="stylesheets/chat.css">
        <!--<script>-->
            <!--var socket = io();-->
        <!--</script>-->
    </head>
    <body class="container-fluid">
        <div ng-app="checklistapp">
            <div id="main" class="container">
                <nav class="navbar-fluid navbar-default navbar-fixed-top">
                    <div class="container">
                        <a class="navbar-brand" href="#/">{{application_title}}</a>
                        <p class="navbar-text">{{application_subtext}}</p>
                        <p class="navbar-text navbar-right" ng-hide="is_authenticated">
                            <a href="#login">Login</a>
                            <a href="#register">Register</a>
                        </p>
                        <p class="navbar-text navbar-right" ng-show="is_authenticated">
                            <a href="#" ng-click="logout()">Logout</a>
                        </p>
                        <p class="navbar-text navbar-right" ng-show="is_authenticated">Signed in as {{current_user}}</p>
                    </div>
                </nav>
                <div>
                    <div ng-view/>
                </div>
            </div>
        </div>
    </body>
</html>
